body{
    font-family: Poppins;
    background-color: #f8fcf8;
}

header{
    font-size: xx-large;
    text-align: center;
    font-family: Poppins;
}

.header{
    height: 50px;
    background: radial-gradient(#c9e4ca, #87bba2);
    display: block;

}

nav{
    text-align: center;
}

nav ul li {
    font-size: x-large;
    display: inline;
    list-style-type: none;    
    margin: auto; 
}

a {
    text-align: center;
    padding: 20px 20px;
}

/* Formulario */

h1 {
    text-align: center;
}

.fondo {
    width: 500px;
    height: 250px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    border-radius: 25px;
    padding-top: 50px;

}

form input {
    width: 200px;
    height: 50px;
    border: solid 0px;
    border-radius: 35px;
    text-align: center;
}

h2 {
    font-family: poppins;
    font-size: 22px;
    text-align: center;
}